@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@keyframes float {
  0% {
    transform: rotate(-20deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-20deg);
  }
}

.animated-float {
  animation: float 5s ease-in-out infinite;
}

.pet-walking {
  width: 200px;
  bottom: -20px;
  position: relative;
  animation: walking 10s linear infinite;
}

@keyframes walking {
  0% {
    transform: translateX(100vw);
  }

  100% {
    transform: translateX(-250px);
  }
}

/* Tablet */
@media (max-width: 768px) {
  .pet-walking {
    width: 140px;
    bottom: -10px;

    animation-duration: 9s;
  }
}

/* Celular */
@media (max-width: 480px) {
  .pet-walking {
    width: 110px;

    animation-duration: 7s;
  }
}

.paw-animation {
  width: 100px;
}

/* celular */
@media (max-width: 480px) {
  .paw-animation {
    width: 70px;
  }

  header h1 {
    font-size: 1rem;
  }
}

.cat-relax {
  width: 300px;
  bottom: 30px;
  position: relative;
}

/* Tablet */
@media (max-width: 768px) {
  .cat-relax {
    width: 300px;
    bottom: 30px;
    position: relative;
  }
}

/* Celular */
@media (max-width: 480px) {
  .cat-relax {
    width: 250px;
    bottom: 20px;
    position: relative;
  }
}